body {
  font-family: "Poppins", sans-serif;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: auto;
  color: #fff;
  padding: 80px auto;
}
.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 2%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  backdrop-filter: blur(10px);
  margin: 10% auto;
}
.scroll-container {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 10% auto;
}
.navbar img {
  width: 150px;
  height: 75px;
  margin: auto;
}
img {
  width: 100%;
  margin: auto;
}
img[src="static/images/left.png"] {
  width: 30px;
  height: 30px;
  margin: 20px;
  background-color: #5e89ff;
  border-radius: 10px;
}
img[src="static/images/right.png"] {
  width: 30px;
  height: 30px;
  margin: 20px;
  background-color: #5e89ff;
  border-radius: 10px;
}
.form-container {
  width: 100%;
  max-width: 800px;
  padding: 45px 30px 30px 30px;
  border-radius: 15px;
  margin: 5% 10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.instructions {
  margin-bottom: 20px;
  font-size: 1.2em;
}
.btn-custom {
  background-color: #5e89ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  border: none;
  margin: 10% 0;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
}
.btn-custom:hover {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0652b6;
  transform: scale(1.05);
}
.btn-custom:checked {
  background-color: #071aa3;
  transform: scale(1.05);
}
.btn-block {
  width: 100%;
}
label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin: 2% !important  ;
}
input,
select,
button {
  border-radius: 25px;
}
@media (min-width: 576px) {
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 20px !important;
  }
}
.tag-option {
  display: block;
  padding: 10px;
  margin: 5px;
  border: 1px solid #5e89ff;
  border-radius: 25px;
  background-color: #5e89ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.tag-option:hover {
  background-color: #071aa3;
  border-color: #ffffff;
  transform: scale(1.05);
}
.sidebar {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 5% 0;
  padding: 40px 20px;
  height: 100vh;
  overflow-y: auto;
  width: 20%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.main-content {
  flex-grow: 1;
  margin: auto;
  overflow-y: auto;
  width: 84%;
  padding: 20px;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
}
.bg-light {
  background-color: #aaa;
}
.navbar {
  margin: auto;
  transition: top 0.6s;
}
.form-group {
  margin: 5%;
}
h1,
h3,
h4,
h5,
p,
:placeholder-shown {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h4 {
  margin: 10px 0;
}
span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  transition: background-color 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4a4a4a;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.navbar-hidden {
  top: -100px !important;
}
.btn-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.btn-nav {
  padding: 6px 12px;
}
.btn-outline-custom {
  margin: auto;
}
.gradient-text {
  background-color: #f3ec78 !important;
  background-image: linear-gradient(45deg, #f3ec78, #af4261) !important;
  background-size: 100% !important;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-backface-clip: text;
  -webkit-text-fill-color: transparent;
}
