<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="../static/explore.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-light">
      <img src="../static/images/logo.png" id="logo" />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand ml-auto" href="/explore">
          <h1 style="color: #0652b6"><strong>Explore</strong></h1></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a
              href="/"
              class="nav-link"
              style="
                color: black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                  'Helvetica Neue', sans-serif;
              "
              >Home</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="form-container">
      <div class="instructions">
        <p><strong>Instructions:</strong></p>
        <p>Enter the complete file path of the Image.</p>
      </div>
      {% for message in messages %}

      <div class="alert alert-success">
        <a class="close" href="/explore" data-dismiss="alert">×</a>
        {{ message }}
      </div>

      {% endfor %}
      <form action="/explore" method="post" class="mb-4">
        {% csrf_token %}
        <div class="form-group position-relative flex-grow-1">
          <label for="directory">Path of Image:</label>
          <input
            type="text"
            class="form-control mr-sm-2"
            id="directory"
            name="directory"
            placeholder="e.g. C:\Users\Downloads\a.jpg"
            required
          />
          <button
            type="submit"
            class="btn btn-outline-success my-2 my-sm-0"
            id="uploadButton"
          >
            <i class="bi bi-upload"> Search</i>
          </button>
        </div>
      </form>
      {% if image %}
      <div class="image-list">
        <div class="mb-4">
          <img
            src="{% url 'uploaded_file' filename=image %}"
            alt="Image"
            class="img-fluid"
            width="100%"
            height="auto"
            margin="auto"
          />
        </div>

        <div class="form-group tag-container">
          <label for="tags">Tags:</label>
          <input
            type="text"
            class="form-control"
            id="tags"
            name="tags"
            value="{{ existing_tags }}"
            required
          />
          <a href="/index" class="btn btn-custom btn-edit"> Edit </a>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.com/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
  </body>
</html>
